---

branches:
 only:
  - master

version: "0.0.1.{build}"

environment:
  matrix:

    - PYTHON_DIR: "C:\\Python27-x64"
      BLOCK: "0"

    - PYTHON_DIR: "C:\\Python35-x64"
      BLOCK: "0"

init:
  - python.exe -m pip install scikit-ci-addons==0.3.0
  - python.exe -m ci_addons --install ..

  - ps: ../appveyor/rolling-build.ps1

  - git clone git://github.com/scikit-build/scikit-ci -b %APPVEYOR_REPO_BRANCH% ../bootstrap-scikit-ci
  - python.exe -m pip install -U ../bootstrap-scikit-ci/

# scikit-ci-yml.rst: start
install:
  - python -m ci install

build_script:
  - python -m ci build

test_script:
  - python -m ci test

after_test:
  - python -m ci after_test
# scikit-ci-yml.rst: end

on_finish:
  - ps: ../appveyor/enable-worker-remote-access.ps1 -check_for_block

artifacts:
  # Archive the generated packages in the ci.appveyor.com build report.
  - path: dist\*

matrix:
  fast_finish: false

shallow_clone: false
