trigger:
  - master

jobs:
  - job: Windows

    pool:
      vmImage: 'vs2017-win2016'

    strategy:
      matrix:
        Python27-x64:
          python.arch: 'x64'
          python.version: '2.7'
        Python35-x64:
          python.arch: 'x64'
          python.version: '3.5'
        Python36-x64:
          python.arch: 'x64'
          python.version: '3.6'
        Python37-x64:
          python.arch: 'x64'
          python.version: '3.7'
      maxParallel: 2

    steps:

      - powershell: |
          $environmentVars = get-childitem -path env:*
          foreach($var in $environmentVars)
          {
           $keyname = $var.Key
           $keyvalue = $var.Value

           Write-Output "${keyname}: $keyvalue"
          }
        displayName: Display env. variables

      - task: UsePythonVersion@0
        inputs:
          versionSpec: '$(python.version)'
          addToPath: true
          architecture: '$(python.arch)'

      - script: |
          python.exe -m pip install -U scikit-ci-addons
          python.exe -m ci_addons --install ../addons
        displayName: Install scikit-ci-addons

      - powershell: |
          $BOOTSTRAP_REPO_SLUG = $env:BUILD_REPOSITORY_NAME
          $BOOTSTRAP_BRANCH = $env:BUILD_SOURCEBRANCHNAME
          if($env:SYSTEM_PULLREQUEST_PULLREQUESTNUMBER -ne $null) {
            #
            # Since Azure hides the value of "System.PullRequest.SourceRepositoryURI"
            # for Pull request from fork, retrieve PR repo and branch name directly
            # from GitHub
            #
            # See also https://developer.github.com/v3/pulls/#get-a-single-pull-request
            #
            $GitHubUri="https://api.github.com/repos/scikit-build/scikit-ci/pulls/$env:SYSTEM_PULLREQUEST_PULLREQUESTNUMBER"
            $BOOTSTRAP_BRANCH=(Invoke-WebRequest            `
              -Uri $GitHubUri                                  `
              -Headers @{                                      `
                "Accept"= "application/vnd.github.v3.raw"      `
              } | ConvertFrom-Json).head.ref
            $BOOTSTRAP_REPO_SLUG=(Invoke-WebRequest            `
              -Uri $GitHubUri                                  `
              -Headers @{                                      `
                "Accept"= "application/vnd.github.v3.raw"      `
              } | ConvertFrom-Json).head.repo.full_name

            Write-Output "System.PullRequest.SourceRepositoryURI: $(System.PullRequest.SourceRepositoryURI)"
          }
          Write-Output "BUILD_REASON: $env:BUILD_REASON"
          Write-Output "BOOTSTRAP_REPO_SLUG: $BOOTSTRAP_REPO_SLUG"
          Write-Output "BOOTSTRAP_BRANCH: $BOOTSTRAP_BRANCH"

          git clone git://github.com/$BOOTSTRAP_REPO_SLUG -b $BOOTSTRAP_BRANCH ../bootstrap-scikit-ci
          python.exe -m pip install -U ../bootstrap-scikit-ci/
        displayName: Bootstrap

      # scikit-ci-yml.rst: start
      - script: python -m ci install
        displayName: Install

      - script: python -m ci build
        displayName: Build

      - script: python -m ci test
        displayName: Test

      - powershell: |
          if ($env:CODECOV_TOKEN -ne $null) {
            python -m ci after_test
          }
        displayName: After Test
        env:
          CODECOV_TOKEN: $(CODECOV_TOKEN)
      # scikit-ci-yml.rst: end